---
import HeaderNav from './HeaderNav.astro'
import HeaderContactLinks from './HeaderContactLinks.astro'
import data from '../../data.json'

const {currentPage} = Astro.props
---

<header>
    <h1>{data.name}</h1>
    <HeaderNav currentPage={currentPage} />
    { currentPage !== "home" &&
    <HeaderContactLinks /> }
</header>

<style>
    header {
        padding: 1.6rem;
        border-bottom: 2px solid var(--main-color);
    }

    header h1 {
        font-size: 3rem;
        line-height: 3rem;
        font-weight: bold;
        color: var(--main-color);
    }

    header h1::before {
        content: "Hey, I am";
        font-size: small;
        color: var(--main-color-dark);
        display: block;
        line-height: normal;
    }

    @media screen and (min-width: 1024px) {
        header {
            top: 0;
            left: 0;
            position: fixed;
            width: 25%;
            height: clamp(360px, 100vh, 600px);
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-between;
            border-bottom: unset;
            /* overflow: auto; */
        }
    }
</style>