---
const {name, description, links} = Astro.props
---

<header>
    <h1>{name}</h1>
    <p>{description}</p>
    <nav id="contact">
        <ul>
            <li>
                <a id="linkedin" style="--color: #0077b5" href={'https://linkedin.com/in/' + links.linkedin}>
                    <svg class="svg-icon" aria-hidden="true" focusable="false">
                        <use xlink:href="#icon-linkedin" />
                    </svg>
                    <span>LinkedIn</span>
                </a>
            </li>
            <li>
                <a id="github" style="--color: #181717" href={'https://github.com/' + links.github}>
                    <svg class="svg-icon" aria-hidden="true" focusable="false">
                        <use xlink:href="#icon-github" />
                    </svg>
                    <span>GitHub</span>
                </a>
            </li>
            <li>
                <a id="email" style="--color: #d14836" href={'mailto:' + links.email}>
                    <svg class="svg-icon" aria-hidden="true" focusable="false">
                        <use xlink:href="#icon-email" />
                    </svg>
                    <span>Email</span>
                </a>
            </li>
        </ul>
    </nav>
</header>

<style>
    header {
        top: 0;
        left: 0;
        position: fixed;
        width: 25%;
        height: 100vh;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
    }

    header h1 {
        font-size: 3rem;
        line-height: 3rem;
        font-weight: bold;
        color: var(--main-color);
    }

    header h1::before {
        content: "Hey, I am";
        font-size: small;
        color: var(--subtle-color);
        display: block;
        line-height: normal;
    }

    header p {
        color: var(--subtle-color);
    }

    #contact {
        width: 100%;
    }
    
    #contact ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    #contact a {
        flex: 1;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        font-size: 1.5rem;
        color: var(--main-color);
        transition: 0.4s ease-in-out;
        will-change: transform;
    }

    #contact a:hover {
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        -moz-transform: scale3d(1.2, 1.2, 1.2);
        transform: scale3d(1.2, 1.2, 1.2);
        color: var(--color);
    }

    .svg-icon {
        position: relative;
        top: 0.125rem;
        flex-shrink: 0;
        height: 1rem;
        width: 1rem;
        fill: currentColor;
        transition: fill 0.3s;
    }

    @media screen and (min-width: 1024px) {
        #contact a>svg {
            top: 0 !important;
            width: 2.5rem !important;
            height: 2.5rem !important;
        }

        #contact a>span {
            display: none;
        }
    }
</style>