---
import MainLayout from '../layouts/Main.astro'
import ContactLinks from '../components/astro/ContactLinks.astro'

import data from '../data.json'

const response = await fetch(`https://api.github.com/users/${data.links.github}/repos?sort=updated`)
const repos = await response.json()
---

<MainLayout title={data.name + " - Portfolio" } currentPage="home">
    <article id="openforwork" class="important">
        <div>
            <h3>I am open for work!</h3>
            <p>My resume can be acquired <a href="">here</a></p>
        </div>
        <ContactLinks />
    </article>
    <article id="latestprojects">
        <h3>Latest projects</h3>
        <ul>
            {repos.map((item) => (
            <li>
                <h4>{item.name}</h4>
                <p>{item.description}</p>
            </li>
            ))}
        </ul>
    </article>
    <article id="latestblog">
        <h3>Latest blog post</h3>
        <ul>
            <li>
                <h3>NONO</h3>
                <p>lklklklk</p>
            </li>
            <li>
                <h3>OIOIOIOI</h3>
                <p>pppppp</p>
            </li>
            <li>
                <h3>JIJIJI</h3>
                <p>aslnalksnd</p>
            </li>
        </ul>
    </article>
</MainLayout>

<style>
    #openforwork {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        padding-top: 1rem;
        list-style: none;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    ul li {
        border-radius: 1em;
        padding: 1em;
        background: hsl(var(--main-h), 40%, 93%);
    }
</style>